.square1 {
  margin: 5px auto;
  width: 250px;
  height: 250px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 1s;
}
.square1:hover {
  background-color: greenyellow;
  color: white;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  75% {
    background-color: pink;
    transform: translateY(-250px);
  }
  100% {
    transform: scaleY(1);
  }
}

.square2 {
  margin: 5px auto;
  width: 250px;
  height: 250px;
  background-color: firebrick;
  border-radius: 0;
  transition-property: border-radius background-color;
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square2:hover {
  border-radius: 150px;
  background-color: lime;
  color: white;
}

.circle {
  margin: 5px auto;
  width: 250px;
  height: 250px;
  background-color: tomato;
  border-radius: 50%;
  border: 10px dotted black;
  transition-property: border-radius;
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rainbow;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle:hover {
  border-radius: 0;
  color: white;
  animation-play-state: paused;
}

@keyframes rainbow {
  0% {
    background-color: tomato;
    transform: rotate(0);
  }
  15% {
    background-color: yellow;
    transform: rotate(90deg);
  }
  25% {
    background-color: firebrick;
  }
  35% {
    background-color: lightseagreen;
    transform: rotate(180deg);
  }
  50% {
    background-color: deeppink;
  }
  60% {
    background-color: snow;
    transform: rotate(270deg);
  }
  75% {
    background-color: lightseagreen;
  }
  85% {
    background-color: red;
  }
  100% {
    background-color: indigo;
    transform: rotate(360deg);
  }
}

.square3 {
  margin: 5px auto;
  width: 250px;
  height: 250px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square3:hover {
  animation-duration: .5s;
  animation-name: wiggle;
}
@keyframes wiggle {
  0% {
    transform: rotate(0) scale(1.1);
  }
  40% {
    transform: rotate(-2deg) scale(1.1);
  }
  60% {
    transform: rotate(2deg) scale(1.1);
  }
  85% {
    transform: rotate(-2deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.btn-div {
  width: 400px;
  height: 100px;
  border: 2px solid black;
  cursor: help;
}

.buttony {
  transition-property: transform;
  transition-duration: 0.3s;
  width: 400px;
  height: 100px;
  background-color: green;
  font-size: 2em;
  color: white;
}

.btn-div:hover .buttony{
  transform: rotateZ(360deg) translateX(550px);
}
